In [22]:
import pandas as pd 
df = pd.read_csv("C:/Users/Owen Ong/Desktop/Y3S2/BC3409/Indiv Assignment/Credit Card Default II (balance).csv")

In [23]:
df.head()

        income        age         loan  default
0  66155.92510  59.017015  8106.532131        0
1  34415.15397  48.117153  6564.745018        0
2  57317.17006  63.108049  8020.953296        0
3  42709.53420  45.751972  6103.642260        0
4  66952.68885  18.584336  8770.099235        1

In [24]:
summary = df.describe()
summary = summary.transpose()
summary.head()

,count,mean,std,min,25%,50%,75%,max
income,3428.0,45136.875975,14425.486619,20014.48947,32827.211177,45546.632873,57514.794130,69995.685580
age,3428.0,34.795950,12.840055,-52.42328,25.171939,30.086842,44.369461,63.971796
loan,3428.0,5591.986695,3174.522430,1.37763,3103.357467,5540.305046,7809.377943,13766.051240
default,3428.0,0.500000,0.500073,0.00000,0.000000,0.500000,1.000000,1.000000

In [25]:
df = df.dropna()
print(df)

            income        age          loan  default
0     66155.925100  59.017015   8106.532131        0
1     34415.153970  48.117153   6564.745018        0
2     57317.170060  63.108049   8020.953296        0
3     42709.534200  45.751972   6103.642260        0
4     66952.688850  18.584336   8770.099235        1
...            ...        ...           ...      ...
3423  60903.191726  21.933924  10367.081892        1
3424  62235.644695  25.033016   8083.900063        1
3425  25597.850590  26.350344   3810.110335        1
3426  48164.194974  23.141976   6529.652892        1
3427  33055.808635  26.289612   5351.851138        1

[3428 rows x 4 columns]

In [26]:
#remove not a number
for i in df.columns:
    df=df[pd.to_numeric(df[i], errors='coerce').notnull()] #make it to null then remove null
print(df)

            income        age          loan  default
0     66155.925100  59.017015   8106.532131        0
1     34415.153970  48.117153   6564.745018        0
2     57317.170060  63.108049   8020.953296        0
3     42709.534200  45.751972   6103.642260        0
4     66952.688850  18.584336   8770.099235        1
...            ...        ...           ...      ...
3423  60903.191726  21.933924  10367.081892        1
3424  62235.644695  25.033016   8083.900063        1
3425  25597.850590  26.350344   3810.110335        1
3426  48164.194974  23.141976   6529.652892        1
3427  33055.808635  26.289612   5351.851138        1

[3428 rows x 4 columns]

In [27]:
df[df < 0] = abs(df)
summary = df.describe()
summary = summary.transpose()
summary.head()

,count,mean,std,min,25%,50%,75%,max
income,3428.0,45136.875975,14425.486619,20014.489470,32827.211177,45546.632873,57514.794130,69995.685580
age,3428.0,34.864292,12.653256,18.055189,25.187842,30.107024,44.387971,63.971796
loan,3428.0,5591.986695,3174.522430,1.377630,3103.357467,5540.305046,7809.377943,13766.051240
default,3428.0,0.500000,0.500073,0.000000,0.000000,0.500000,1.000000,1.000000

I have assumed that negative numbers under age are typos after consulting the data source. (Prevent loss of data)

In [28]:
df.describe()

             income          age          loan      default
count   3428.000000  3428.000000   3428.000000  3428.000000
mean   45136.875975    34.864292   5591.986695     0.500000
std    14425.486619    12.653256   3174.522430     0.500073
min    20014.489470    18.055189      1.377630     0.000000
25%    32827.211177    25.187842   3103.357467     0.000000
50%    45546.632873    30.107024   5540.305046     0.500000
75%    57514.794130    44.387971   7809.377943     1.000000
max    69995.685580    63.971796  13766.051240     1.000000

In [29]:
#remove outlier
import numpy as np
from scipy import stats
z = stats.zscore(df.astype(float))
abs_z = np.abs(z)
filtered = (abs_z < 8).all(axis=1)
df = df[filtered]

df.describe()

             income          age          loan      default
count   3428.000000  3428.000000   3428.000000  3428.000000
mean   45136.875975    34.864292   5591.986695     0.500000
std    14425.486619    12.653256   3174.522430     0.500073
min    20014.489470    18.055189      1.377630     0.000000
25%    32827.211177    25.187842   3103.357467     0.000000
50%    45546.632873    30.107024   5540.305046     0.500000
75%    57514.794130    44.387971   7809.377943     1.000000
max    69995.685580    63.971796  13766.051240     1.000000

In [30]:
normalized_df=(df-df.min())/(df.max()-df.min())

normalized_df.describe()

            income          age         loan      default
count  3428.000000  3428.000000  3428.000000  3428.000000
mean      0.502637     0.366079     0.406156     0.500000
std       0.288618     0.275570     0.230628     0.500073
min       0.000000     0.000000     0.000000     0.000000
25%       0.256351     0.155339     0.225358     0.000000
50%       0.510835     0.262472     0.402402     0.500000
75%       0.750288     0.573491     0.567249     1.000000
max       1.000000     1.000000     1.000000     1.000000

In [33]:
X = normalized_df.loc[:,["income", "age", "loan"]]
Y = normalized_df.loc[:, "default"]
print(X,Y)

        income       age      loan
0     0.923176  0.892092  0.588837
1     0.288122  0.654708  0.476827
2     0.746334  0.981189  0.582620
3     0.454072  0.603198  0.443328
4     0.939117  0.011524  0.637045
...        ...       ...       ...
3423  0.818082  0.084473  0.753066
3424  0.844741  0.151967  0.587193
3425  0.111709  0.180657  0.276703
3426  0.563206  0.110783  0.474278
3427  0.260925  0.179334  0.388711

[3428 rows x 3 columns] 0       0.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
3423    1.0
3424    1.0
3425    1.0
3426    1.0
3427    1.0
Name: default, Length: 3428, dtype: float64

# Split Train Test

In [49]:
#split train test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)
print(X_train, X_test, Y_train, Y_test)

        income       age      loan
2235  0.541496  0.236068  0.458176
984   0.425577  0.105754  0.038557
1200  0.516709  0.309585  0.384888
831   0.902808  0.524384  0.751983
1404  0.816876  0.919056  0.480040
...        ...       ...       ...
334   0.092923  0.901228  0.042807
68    0.371148  0.068849  0.407041
33    0.118803  0.873972  0.153133
122   0.322159  0.097583  0.108510
2584  0.536589  0.048004  0.530907

[2399 rows x 3 columns]         income       age      loan
297   0.144136  0.808331  0.301033
570   0.449405  0.618143  0.605376
3377  0.480639  0.114751  0.563017
3369  0.513301  0.106022  0.462082
2360  0.624937  0.185508  0.614605
...        ...       ...       ...
1620  0.872784  0.191582  0.723144
1247  0.048710  0.385712  0.086166
1603  0.454881  0.835513  0.336017
1777  0.841317  0.103899  0.215843
481   0.718669  0.929948  0.409875

[1029 rows x 3 columns] 2235    1.0
984     0.0
1200    0.0
831     0.0
1404    0.0
       ...
334     0.0
68      1.0
33      0.0
122     0.0
2584    1.0
Name: default, Length: 2399, dtype: float64 297     0.0
570     0.0
3377    1.0
3369    1.0
2360    1.0
       ...
1620    1.0
1247    0.0
1603    0.0
1777    0.0
481     0.0
Name: default, Length: 1029, dtype: float64

# Logistic Regression

In [50]:
from sklearn import linear_model
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

model=linear_model.LogisticRegression()
model.fit(X_train, Y_train)
pred=model.predict(X_train)
cm = confusion_matrix(Y_train, pred)
print(cm)
train_accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('train accuracy:' ,train_accuracy)

pred=model.predict(X_test)
cm = confusion_matrix(Y_test, pred)
print(cm)
test_accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('test accuracy:' ,test_accuracy)

[[1113  103]
 [  10 1173]]
train accuracy: 0.952897040433514
[[440  58]
 [  3 528]]
test accuracy: 0.9407191448007775

# Decision Tree

Hyperparameter Optimizer

Hyperparameters chosen: Max_Depth, as well as Min_Samples_Split

In [71]:
from sklearn.model_selection import GridSearchCV

model=tree.DecisionTreeClassifier(max_depth=10, min_samples_split=3)
g = GridSearchCV(estimator=model, param_grid=dict(max_depth=[i for i in range(1,20)],min_samples_split=[i for i in range(3,20)]))

g = g.fit(X_train, Y_train)

g.best_params_

model = tree.DecisionTreeClassifier(max_depth = g.best_params_["max_depth"], min_samples_split = g.best_params_["min_samples_split"])
model.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=11, min_samples_split=3)

In [70]:
from sklearn import tree

model=tree.DecisionTreeClassifier(max_depth=17, min_samples_split=3)
model.fit(X_train, Y_train)
pred=model.predict(X_train)
cm = confusion_matrix(Y_train, pred)
print('train cm:' ,cm)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('train accuracy:' ,accuracy)

pred=model.predict(X_test)
cm = confusion_matrix(Y_test, pred)
print('test cm:', cm)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('test accuracy:' ,accuracy)

train cm: [[1216    0]
 [   1 1182]]
train accuracy: 0.9995831596498541
test cm: [[494   4]
 [  0 531]]
test accuracy: 0.9961127308066083

# Random Forest

Hyperparameter Optimizer

Hyperparameters chosen: Max_Depth, as well as Min_Samples_Split 

(the gridsearchCV takes a while so i have only ran this once)

from sklearn.model_selection import GridSearchCV

model=RandomForestRegressor(max_depth=10, min_samples_split=3)
g = GridSearchCV(estimator=model, param_grid=dict(max_depth=[i for i in range(1,20)],min_samples_split=[i for i in range(3,20)]))

g = g.fit(X_train, Y_train)

g.best_params_

model = RandomForestRegressor(max_depth = g.best_params_["max_depth"], min_samples_split = g.best_params_["min_samples_split"])
model.fit(X_train, Y_train)

In [52]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth=18,min_samples_split=4)
model.fit(X_train, Y_train)
pred = model.predict(X_train)

from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(pred, Y_train)**0.5
print('train rmse:' , rmse)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('train accuracy:' ,accuracy)

pred = model.predict(X_test)
rmse = mean_squared_error(pred, Y_test)**0.5
print('test rmse:' , rmse)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('test accuracy:' ,accuracy)

train rmse: 0.22832093345693877
train accuracy: 0.9727891156462585
test rmse: 0.22897623789367813
test accuracy: 0.9727891156462585

# XGBoost

Hyperparameters chosen for finetuning: Max_Depth

In [84]:
from sklearn.model_selection import GridSearchCV

XGB_model=GradientBoostingClassifier(max_depth=10)
g = GridSearchCV(estimator=XGB_model, param_grid=dict(max_depth=[i for i in range(1,20)]))

g = g.fit(X_train, Y_train)

g.best_params_

XGB_model = GradientBoostingClassifier(max_depth = g.best_params_["max_depth"])
XGB_model.fit(X_train, Y_train)

GradientBoostingClassifier(max_depth=7)

In [85]:
from sklearn.ensemble import GradientBoostingClassifier
XGB_model = GradientBoostingClassifier(max_depth=7)
XGB_model.fit(X_train, Y_train)
pred = XGB_model.predict(X_train)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_train, pred)
print('train cm:' ,cm)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('train accuracy:' ,accuracy)

pred = XGB_model.predict(X_test)
cm = confusion_matrix(Y_test, pred)
print('test cm:' ,cm)
accuracy = (cm[0,0] + cm[1,1])/sum(sum(cm))
print('test accuracy:' ,accuracy)

train cm: [[1216    0]
 [   0 1183]]
train accuracy: 1.0
test cm: [[494   4]
 [  0 531]]
test accuracy: 0.9961127308066083

# Neural Network with MLP

In [65]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

NN_model=Sequential()
model.add(Dense(10, input_dim=3, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(8, activation="relu"))
model.add(Dropout(0.3))

model.add(Dense(1, activation='sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer = 'Adamax', metrics = ['accuracy'])

model.fit(X_train, Y_train, batch_size = 10, epochs=15, verbose=1)
model.evaluate(X_train, Y_train)
model.evaluate(X_test, Y_test)

Epoch 1/15
240/240 [==============================] - 0s 565us/step - loss: 0.6947 - accuracy: 0.5381
Epoch 2/15
240/240 [==============================] - 0s 544us/step - loss: 0.6637 - accuracy: 0.6386
Epoch 3/15
240/240 [==============================] - 0s 535us/step - loss: 0.6362 - accuracy: 0.6811
Epoch 4/15
240/240 [==============================] - 0s 524us/step - loss: 0.6110 - accuracy: 0.7186
Epoch 5/15
240/240 [==============================] - 0s 561us/step - loss: 0.5708 - accuracy: 0.7603
Epoch 6/15
240/240 [==============================] - 0s 519us/step - loss: 0.5365 - accuracy: 0.7820
Epoch 7/15
240/240 [==============================] - 0s 553us/step - loss: 0.5060 - accuracy: 0.8020
Epoch 8/15
240/240 [==============================] - 0s 540us/step - loss: 0.4686 - accuracy: 0.8112
Epoch 9/15
240/240 [==============================] - 0s 562us/step - loss: 0.4460 - accuracy: 0.8316
Epoch 10/15
240/240 [==============================] - 0s 550us/step - loss: 0.4235 - accuracy: 0.8462
Epoch 11/15
240/240 [==============================] - 0s 578us/step - loss: 0.3858 - accuracy: 0.8595
Epoch 12/15
240/240 [==============================] - 0s 572us/step - loss: 0.3603 - accuracy: 0.8683
Epoch 13/15
240/240 [==============================] - 0s 544us/step - loss: 0.3449 - accuracy: 0.8712
Epoch 14/15
240/240 [==============================] - 0s 549us/step - loss: 0.3247 - accuracy: 0.8808
Epoch 15/15
240/240 [==============================] - 0s 510us/step - loss: 0.2991 - accuracy: 0.8979
75/75 [==============================] - 0s 616us/step - loss: 0.2085 - accuracy: 0.9550
33/33 [==============================] - 0s 774us/step - loss: 0.2089 - accuracy: 0.9485
train cm: [[1118   98]
 [  10 1173]]
train cm: 0.9549812421842434
test cm: [[449  49]
 [  4 527]]
test cm: 0.9484936831875608

In [ ]:
#Accuracy of Model
pred=model.predict(X_train)
pred=np.where(pred>0.5,1,0)
cm=confusion_matrix(Y_train, pred)
print('train cm:' ,cm)
accuracy=(cm[0,0]+cm[1,1])/sum(sum(cm))
print('train cm:',accuracy)

pred=model.predict(X_test)
pred=np.where(pred>0.5,1,0)
cm=confusion_matrix(Y_test, pred)
print('test cm:',cm)
accuracy=(cm[0,0]+cm[1,1])/sum(sum(cm))
print('test cm:',accuracy)

In [88]:
import joblib 
joblib.dump(XGB_model, "model")

['model']